<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>サムネール画像情報の修正</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
    <script>
      $(()=>{
        $("#btnClear").click(() => {
          $("input[type='text']").val("");
        });
        $('#btnConfirm').click(() => {
          let id = $('#id').val();
          if (id == '') {
            alert("正しく id を指定してください。")
          }
          else {
            location.href = `/bindata/confirm/${id}`;
          }
        });
      });
    </script>
    <style>
      form {
        margin-left:5%;
        font-size:small;
        padding:16px;
        border:solid thin darkblue;
      }
    </style>
  </head>

  <body>
    <h1>サムネール画像情報の修正</h1>
    <div class="menu">
      <a href="javascript:window.close()"><img src="/img/close2.png" /> 閉じる</a>&nbsp;/&nbsp;
      <a href="/help.html" target="_blank"><img src="/img/question2.png" /> ヘルプ</a>
    </div>
    <p class="message"><%= message %></p>

    <form method="POST" action="/bindata/modify_bindata">
        <div class="form_row">id<br />
            <input type="number" name="id" id="id" size="6" value="<%= id %>" /> 
        </div>
        <div class="form_row">タイトル<br />
            <input type="text" name="title" id="title" size="50" value="<%= title %>" /> 
        </div>
        <div class="form_row">オリジナル画像のパス<br />
            <input type="text" name="original" id="original" size="150" value="<%= original %>" /> 
        </div>
        <div class="form_row">データ種別 (ファイルの拡張子)<br />
            <input type="text" name="datatype" id="datatype" size="20" value="<%= datatype %>" style="ime-mode: inactive;" /> 
        </div>
        <div class="form_row">データ (インポートツールにて修正)<br />
            <input type="text" name="data" id="data" size="20" value="" style="background-color:bisque;" disabled /> 
        </div>
        <div class="form_row">情報<br />
            <input type="text" name="info" id="info" size="150" value="<%= info %>" /> 
        </div>
        <div class="form_row">画像サイズ (直接修正不可)<br />
            <input type="text" name="size" id="size" size="20" value="<%= size %>" style="background-color:bisque;" /> 
        </div>
        <div class="form_row"><br />
            <input type="submit" name="btnSubmit" id="btnSubmit" value=" 更新 " />&nbsp;
            <input type="button" name="btnConfirm" id="btnConfirm" value=" データ確認 " />&nbsp;
            <input type="button" name="btnClear" id="btnClear" value=" クリア " />&nbsp;
        </div>    
    </form>
    <br />
    <p>(使用方法) id が空欄の場合は「追加」になります。id が数の場合は、最初に「データ確認」を行い必要なデータを修正します。次に「追加・修正」ボタンクリックすると「修正」として機能します。</p>
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#top">TOP</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </body>
</html>
