<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <style>
      figcaption {
        margin-top:0px;
        font-size:smaller;
        color:darkgray;
      }
    </style>
    <script src="/js/jquery.min.js"></script>
    <script>
      $(()=>{
        /* 表示順 */
        $('#orderby').change(()=>{
          let v = $('#orderby').val();
          if (v.startsWith('----')) {
            return;
          }
          else {
            location.href = `/pictures/orderby/${v}`;
          }
        });

        /* id 指定移動ボタン */
        $('#btnJump').click(()=>{
          let i = $('#jump').val();
          if (i == "") {
            alert("id が空欄です。");
          }
          else {
            location.href = `/pictures/jump/${i}`;
          }
        });

        /* ワードフィルタ検索ボタン */
        $('#btnFind').click(()=>{
          let w = $('#word').val();
          if (w == "") {
            alert("ワードが空欄です。");
          }
          else {
            window.open(`/pictures/find/?word=${w}`, w);
          }
        });

        /* マークフィルタ */
        $('#mark').change(()=>{
          let v = $('#mark').val();
          if (v.startsWith('----')) {
            return;
          }
          else {
            location.href = `/pictures/mark/${v}`;
          }
        });

        /* イメージの表示 */
        $("#chkImage").change(() => {
          let v = $("#chkImage").prop("checked");
          $("img").each((idx, element) => {
            let id = $(element).attr("id");
            if (id && id.startsWith("thumb")) {
              $(element).css("display", v ? "inline" : "none");
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <h1><%= title %><br /><span style="font-size:20pt;color:indigo;">Version <%= version %></span></h1>
    <!-- メニュー -->
    <div class="menu" id="menu0" style="padding:4px;display:<%- display_menu0 %>">
      <a href="javascript:window.close()"><img src="/img/close2.png" /> 閉じる</a>&nbsp;/&nbsp;
      <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
      <a href="/pictures"><img src="/img/refresh2.png" /> 表示リセット</a>&nbsp;/&nbsp;
      <a href="/modify_folder" target="_blank"><img src="/img/form.png" /> 画像フォルダの追加・修正</a>&nbsp;/&nbsp;
      <a href="/creators" target="_blank"><img src="/img/photo2.png" /> 作者一覧</a>&nbsp;/&nbsp;
      <a href="/pictures/favorites" target="_blank"><img src="/img/heart2.png" /> お気に入り一覧</a>&nbsp;/&nbsp;
      表示順 <select id="orderby">
        <option value="0">----------</option>
        <option value="1">id の降順 (デフォルト)</option>
        <option value="2">id の昇順</option>
        <option value="3">date の降順</option>
        <option value="4">date の昇順</option>
      </select>&nbsp;/&nbsp;
      ページ&nbsp;
      <a href="/pictures/first"><img src="/img/first.svg"> 先頭</a>
      <a href="/pictures/prev"><img src="/img/prev.svg"> 前へ</a>&nbsp;
      <a href="/pictures/next">次へ <img src="/img/next.svg" /></a>
      <a href="/pictures/last">最後 <img src="/img/last.svg" /></a>&nbsp;&nbsp;
      id 指定&nbsp;<input type="text" id="jump" size="10" /><input type="button" id="btnJump" value="移動" />
      &nbsp;/&nbsp;
      <img src="/img/find2.png" /> ワードフィルタ <input type="text" id="word" size="30" /><input type="button" id="btnFind" value="検索" />&nbsp;/&nbsp;
      マークフィルタ <select id="mark">
        <option>----------</option>
        <option value="ALL">すべて</option>
        <% for (let m of marks) { %>
          <option><%= m %></option>
        <% } %>
      </select>&nbsp;/&nbsp;
      <label>イメージの表示 <input type="checkbox" id="chkImage" value="true" checked /></label>
      <a href="/tool.html" target="_blank"><img src="/img/tool2.png" /> ツール</a>&nbsp;/&nbsp;
      <a href="/help.html" target="_blank"><img src="/img/question2.png" /> ヘルプ</a>
      <a href="/users/logout"><img src="/img/close2.png" /> ログアウト</a>
    </div>
    <div class="menu" id="menu1" style="display:<%- display_menu1 %>">
      <a href="javascript:window.close();"><img src="/img/close2.png" />  閉じる</a>
    </div>
    <br />
    <!-- メッセージ -->
    <p class="message"><%= message %></p>
    <br />
    <!-- 項目一覧表示 -->
    <table style="width:96%;">
      <tr><th>id</th><th>タイトル</th><th>作者</th><th>パス名</th><th>分類マーク</th><th>情報</th><th>好き</th><th>参照回数</th><th>イメージ</th><th>日付</th></tr>
      <% for (let row of results) { %>
        <tr>
          <% for (let i = 0; i < row.length; i++) { %>
            <td><%- row[i] %></td>
          <% } %>
        </tr>
      <% } %>
    </table>

    <!-- フッター -->
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#top">TOP</a></p>
    <p style="text-align:center;">ページ&nbsp;
      <a href="/pictures/first"><img src="/img/first.svg"> 先頭</a>
      <a href="/pictures/prev"><img src="/img/prev.svg"> 前へ</a>&nbsp;
      <a href="/pictures/next">次へ <img src="/img/next.svg" /></a>
      <a href="/pictures/last">最後 <img src="/img/last.svg" /></a>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </body>
</html>
