<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ユーザの登録と情報修正</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.13.0/js/md5.js"></script>
    <script>
        $(() => {
            /* フォーム送信 */
            $("#btnSubmit").click(() => {
                let pwd = $("#password").val();
                if (pwd.length <= 10) {
                    pwd = md5(pwd);
                    $("#password").val(pwd);
                }
                $("#form1").submit();
            });

            /* ユーザ情報確認 */
            $("#btnConfirm").click(() => {
                let id = $("#id").val();
                if (id == "") {
                    alert("確認するユーザの番号を指定してください。");
                    return;
                }
                location.href = "/users/confirm/" + id;
            });

            /* クリア */
            $("#btnClear").click(() => {
                $('input[type="text"]').val("");
            });
        });
    </script>
    <style>
        form {
            margin-left:10%;
            margin-right:10%;
            border:solid thin indigo;
            padding:15px;
        }
        div.radiobuttons {
            border: solid thin gray;
            padding: 10px;
            width:50%;
        }
    </style>
</head>

<body>
  <h1>ユーザの登録と情報修正</h1>
  <div class="menu">
      <a href="javascript:close()">閉じる</a>&nbsp;/&nbsp;
      <a href="/users/logout">ログアウト</a>
  </div>
  <br />
  <form id="form1" method="POST" action="/users/add_modify">
    <div class="form_row">
        番号 (id)<br /><input type="text" name="id" id="id" size="6" value="<%= id %>" />
    </div>
    <div class="form_row">
        ユーザID (英数字で8文字まで)<br /><input type="text" name="userid" id="userid" size="20" value="<%= userid %>" />
    </div>
    <div class="form_row">
        パスワード (英数字で10文字まで)<br /><input type="password" name="password" id="password" size="20" value="<%= password %>" />
    </div>
    <div class="form_row">
        ユーザ情報<br /><input type="text" name="info" id="info" size="120" value="<%= info %>" />
    </div>
    <div class="form_row">
        ユーザ種別（特権）<br />
        <div class="radiobuttons">
            <label><input type="radio" name="priv" id="normal" value="1" <%= checked2 %> /> 普通のユーザ</label>
            <label><input type="radio" name="priv" id="administrator" value="2" <%= checked3 %> /> 管理者</label>
        </div>
    </div>
    <div class="form_row">
        登録日 (空欄なら当日)<br /><input type="text" name="registered" id="registered" size="15" value="<%= registered %>" />
    </div>
    <div class="form_row">
        期限切れ (ユーザが有効かどうか)<br />
        <div class="radiobuttons">
            <label><input type="radio" name="expired" id="expired0" value="0" <%= checked0 %> /> 有効</label>
            <label><input type="radio" name="expired" id="expired1" value="1" <%= checked1 %> /> 無効</label>
        </div>
    </div>
    <div class="form_row">
        <br /><input type="button" name="btnSubmit" id="btnSubmit" value=" 送信 " />&nbsp;
        <input type="button" id="btnConfirm" value=" ユーザ情報確認 " />&nbsp;
        <input type="button" id="btnClear" value=" クリア " />
    </div>
    <br />
    <p class="message"><%= message %></p>
  </form>
  </body>
  </html>
