<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
    <style>
      .version {
        font-size: 20pt;
        color:darkmagenta;
      }
    </style>
    <script>
      $(() => {
        /* アルバムグループの選択 */
        $("#groupname").change(() => {
          let v = $("#groupname").val();
          if (v.startsWith("----")) {
            return;
          }
          else {
            location.href = "/groupname?name=" + v + "&mark=video";
          }
        });
      })
    </script>
  </head>
  <body>
    <h1><%= title %><br /><span class="version">Version <%= version %></span></h1>
    <div class="menu">
      <a href="/video"><img src="/img/refresh2.png" /> 表示リセット</a>&nbsp;/&nbsp;
      <a href="/album_group.html"><img src="/img/thumbs2.png" /> アルバムグループ</a>&nbsp;/&nbsp;
      <a href="/modify_album?mark=video" target="_blank" title="Album テーブルへの追加・更新"><img src="/img/form.png" /> アルバムの作成・修正</a>&nbsp;/&nbsp;
      <a href="/video/modify_video" target="_blank" title="Videos テーブルへの追加・更新"><img src="/img/form.png" /> ビデオの追加・修正</a>&nbsp;/&nbsp;
      <a href="/video/reverse"><img src="/img/reverse2.png" /> 逆順で表示</a>&nbsp;/&nbsp;
      アルバムグループの選択　<select id="groupname">
        <option>---------------</option>
        <option value="ALL">すべて</option>
        <option value="NONAME">名前なし</option>
        <% for (let gname of albumgroups) { %>
          <option><%= gname %></option>
        <% } %>
      </select>&nbsp;///&nbsp;
      <a href="/video/videolist" target="_blank"><img src="/img/video2.png" /> ビデオ一覧</a>&nbsp;/&nbsp;
      <a href="/" target="_blank"><img src="/img/photo2.png" /> 画像アルバムへ</a>&nbsp;/&nbsp;
      <a href="/tool.html" target="_blank"><img src="/img/tool2.png" /> ツール</a>&nbsp;/&nbsp;
      <a href="/help.html" target="_blank"><img src="/img/question2.png" /> ヘルプ</a>&nbsp;/&nbsp;
      <a href="/users/logout"><img src="/img/close2.png" /> ログアウト</a>
    </div>
    <br />
    <p class="message"><%= message %></p>
    <%# アルバム一覧の表を作成する。%>
    <table style="width:96%;margin-left:auto;margin-right:auto;">
      <tr><th>番号</th><th>名称</th><th>収録数</th><th>情報</th><th>イメージ</th><th>グループ名</th><th>日付</th></tr>
    <% for (let album of albums) { %>
      <tr>
        <% for (let i = 0; i < album.length; i++) { %>
          <td><%- album[i] %></td>
        <% } %>
      </tr>
    <% } %>
  </table>
    <!-- フッター -->
    <p>&nbsp;</p>
    <p style="text-align:center;"><a href="#">TOP</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    </body>
  </html>
