<!DOCTYPE html>
<html>
<!-- フォルダ内の画像一覧を表示する。-->
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.min.js"></script>
    <script>
        function adjustWidth() {
            $("img").css({"width":"95%"});
        }
    </script>
</head>

<body>
    <body>
        <h1><%= title %></h1>
        <div class="menu">
            <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
            <a href="/pictures"><img src="/img/folder.png"> 画像フォルダ一覧</a>&nbsp;/&nbsp;
            <a href="/pictures/folderThumbs/<%= id %>"><img src="/img/thumbs2.png"> サムネール一覧で表示</a>&nbsp;/&nbsp;
            <a href="javascript:adjustWidth()">画像をウィンドウの幅に合わせて表示</a>
        </div>
        <br />
        <p class="message"><%= message %></p>
        <br />

        <% for (let i = 0; i < results.length; i++) { %>
            <img src="<%- '/sendImage/?path=' + results[i] %>" />
            <div style="margin-bottom:16px;"><%= i %>&nbsp;&nbsp;<%= results[i] %></div>
        <% } %>

        <p>&nbsp;</p>
        <p style="text-align:center;"><a href="#">TOP</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>        
</body>
</html>