<!DOCTYPE html>
<html>
    <!-- PictureAlbum テーブル サムネール一覧表示 -->
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <style>
            figcaption {
                font-size: smaller;
                text-align:center;
            }
            figure {
                display:inline-block;
                width:12%;
                margin-bottom:12px;
            }
            img.thumb {
                width:100%;
            }
        </style>
    </head>

    <body>
        <h1><%= title %></h1>
        <!-- メニュー -->
        <div class="menu">
        <a href="/"><img src="/img/close2.png" /> 閉じる</a>&nbsp;/&nbsp;
        <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
        <a href="/modify_picture" target="_blank"><img src="/img/form.png" /> 画像の追加・更新</a>&nbsp;/&nbsp;
        <a href="/pictalbum/reverse"><img src="/img/reverse2.png" /> 逆順で表示</a>&nbsp;/&nbsp;
        <a href="/pictalbum/pictlist"><img src="/img/photo2.png" /> 画像一覧表示</a>&nbsp;/&nbsp;
        <a href="/pictalbum/details"><img src="/img/form.png" /> 詳細一覧表示</a>&nbsp;/&nbsp;
        <a href="/help.html" target="_blank">ヘルプ</a>
        </div>
        <!-- メッセージ -->
        <p class="message"><%= message %></p>
        <!-- 画像一覧表示 -->
        <div>
            <% for (let row of results) { %>
                <% let srclink = "/getimage?path=" + row[3]; %>
                <% let id = row[0]; %>
                <% let title = row[2].slice(0, 12); %>
                <a href="/showfolder/navinit/?path=<%= row[3] %>" target="_blank"><figure><img src="<%- srclink %>" alt="<%= row[3] %>" class="thumb" /><figcaption><%= id %>: <%= title %></figcaption></figure></a>
            <% } %>
        </div>
        <!-- フッター -->
        <p>&nbsp;</p>
        <p style="text-align:center;"><a href="#top">TOP</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </body>
</html>