<!DOCTYPE html>
<html>
    <!-- PictureAlbum テーブル 画像一覧表示 -->
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.min.js"></script>
        <style>
            .imgitem {
                font-size:smaller;
                margin-bottom:16px;
            }
        </style>
        <script>
            // 画像幅修正
            function adjustWidth() {
                $('img').each(function() {
                    let imgwidth = $(this).prop('naturalWidth');
                    if (imgwidth > window.innerWidth) {
                       $(this).css('width', '95%');
                    }
                });
             }            
        </script>
    </head>

    <body>
        <h1><%= title %></h1>
        <!-- メニュー -->
        <div class="menu">
        <a href="/"> 閉じる</a>&nbsp;/&nbsp;
        <a href="/"><img src="/img/home.png" /> アルバム一覧</a>&nbsp;/&nbsp;
        <a href="/modify_picture" target="_blank"> 画像の追加・更新</a>&nbsp;/&nbsp;
        <a href="/pictalbum/reverse"><img src="/img/reverse2.png"> 逆順で表示</a>&nbsp;/&nbsp;
        <a href="/pictalbum/thumbs"><img src="/img/thumbs2.png"> サムネール一覧表示</a>&nbsp;/&nbsp;
        <a href="/pictalbum/details"><img src="/img/form.png"> 詳細一覧表示</a>&nbsp;/&nbsp;
        <a href="javascript:adjustWidth()"> 幅の大きい画像の幅をウィンドウに合わせる</a>&nbsp;/&nbsp;
        <a href="/help.html" target="_blank"><img src="/img/question2.png"> ヘルプ</a>
        </div>
        <!-- メッセージ -->
        <p class="message"><%= message %></p>
        <!-- 画像一覧表示 -->
        <% for (let row of results) { %>
            <% let srclink = "/getimage?path=" + row[3]; %>
            <div class="imgitem"><a href="/showfolder?path=<%- row[10] %>" target="_blank"><img src="<%- srclink %>" alt="id: <%= srclink %>"></a><br />id <%= row[0] %> <%= row[3] %></div>
        <% } %>

        <!-- フッター -->
        <p>&nbsp;</p>
        <p style="text-align:center;"><a href="#top">TOP</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </body>
</html>