<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <h1><%= title %></h1>
        <div class="menu">
            <a href="javascript:window.close()"><img src="/img/close2.png" /> 閉じる</a>&nbsp;/&nbsp;
            <a href="/video/nav_prev?path=<%= source %>"><img src="/img/prev.svg" /> 前へ</a>&nbsp;/&nbsp;
            <a href="/video/nav_next?path=<%= source %>"><img src="/img/next.svg" /> 次へ</a>
        </div>
        <br />
        <div style="text-align:center;">
            <% var ext = source.split('.').pop(); %>
            <% if (ext == 'gif') { %>
                <img src="/getimage?path=<%= source %>">
            <% } else if (ext == 'mp4' || ext == 'webm' || ext == 'ogv') { %>
                <video id="player1" preload="none" autoplay loop controls muted>
                    <source src="/video/download?path=<%= source %>" />
                </video>    
            <% } else { %>
                <p class="message"><b>ERROR: ファイルタイプ <%= ext %> はサポートされません。</b></p> 
            <% } %>
        </div>
        <p class="message"><%= message %></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </body>
</html>